body{
    overflow:hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* -----------------Start Button----------------- */
.screen-start {
    /* display: none; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #0b100c;
}

.start-button {
    width: 15vh;
    height: 15vh;
    border: 2px solid black;
    background-color: #f12e7c;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(241, 46, 124, 0.7);
}

.pulseLogo {
    padding: 8vw;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
    animation: pulse 1.5s infinite;
}


.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.logoBlock {
    width: 100vw;
    height: auto;
}

.logoBlock img {
    width: 100%;
}

/* -----------------Restart----------------- */
.restart-button {
    display: none;
    width: 10vh;
    height: 5vh;
    border: 2px solid black;
    border-radius: 25%;
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}


/* -----------------Rules----------------- */
.rules-button {
    width: 10vh;
    height: 5vh;
    border: 2px solid black;
    border-radius: 25%;
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}


.screen-rules {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.helper{
    position:absolute;
    width: 10%;
    height:25%;
    top: 10%;
    left:10%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.rules-notification {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(128, 128, 128,0.90);
    z-index: 1;
    color: whitesmoke;
    /* border: 5px dashed #f02d7c; */
}

.rules-notification p {
    padding: 2vh;
}

.close-rules {
    width: 4vh;
    height: 4vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #f02d7c;
    color: whitesmoke;
    /* border: 2.5px dashed #f02d7c; */
    
}

/* -----------------Choose----------------- */
.screen-game {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: none;
}


.display-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* display: none; */
}

.validationButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    display: none;
}

.yes, .no {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1vh;
}

.marble {
    height: 5vh;
    width: auto;
}

.player-marbles {
    display: grid;
    grid-template-columns: 5vh 5vh 5vh 5vh 5vh;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -20%);
    display: none;
}

.player-choice {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.choice {
    border: 1px solid rgb(255, 255, 255);
    width: 45vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 1.5em;
}

/* -----------------Hands----------------- */

.hands {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.iaHand, .playerHand {
    height: 35vh;
}

.iaHand-open, .iaHand-close, .playerHand-open, .playerHand-close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.playerHand-open, .iaHand-open {
    display: none;
}

.playerHand-close, .iaHand-close {
    display: none;
}

.iaHand-close, .iaHand-open {
    transform: rotateX(180deg);
}

.hands img {
    height: 100%;
    width: auto;
}

.marblesInAIHand, .marblesInPlayerHand {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 2.6vh 2.6vh 2.6vh 2.6vh;
    left: 43vw;
}

.marblesInAIHand img, .marblesInPlayerHand img {
    height: 2.6vh;
    width: auto;
}

.audio{
    overflow: hidden;
    width: 3em;     
    height: 3,2em;     
    position:fixed; right: 80px; top:20px;
 }

 .muteBtn{
    width: 2em;
    height: 2em;
 }

