body {
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play';
}

/* -----------------Start Button----------------- */
.screen-start {
  /* display: none; */
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #090b08;

}

.start-button {
  width: 15vh;
  height: 15vh;
  background-color: #f12e7c;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  box-shadow: 0 0 0 0 rgba(241, 46, 124, 0.7);
  cursor: pointer;

}

.pulseLogo {
  padding: 8vw;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, 0.5);
  animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

.logoBlock {
  width: 100vw;
  height: auto;
}

.logoBlock img {
  width: 100%;
}

/* -----------------Restart----------------- */
.restart-button {
  display: none;
  width: 10vh;
  height: 5vh;
  border: 2px solid black;
  border-radius: 25%;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 8px 32px 0 rgba(236, 181, 247, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  width: fit-content;
  cursor: pointer;
}

.restart-button p {
    padding: 10px;
}

/* -----------------Rules----------------- */
.rules-button {
  width: 10vh;
  height: 5vh;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 1%;
  left: 1%;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 8px 32px 0 rgba(236, 181, 247, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  height: fit-content;
  cursor: pointer;
}

.rules-button p {
  padding: 5px;
}

.screen-rules {
  display: none;
}

.rules-notification {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    border-radius: 25px;
    z-index: 1;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba(236, 181, 247, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
    text-align: center;
}

.rules-notification__description {
    padding: 2vh;
    display: flex;
    flex-direction: column;  
    overflow: hidden;
    font-size: 1.3em;
    overflow-y: scroll;
    height: 80%;
}

.rules-notification p {
  height: fit-content;
}

.rules-notification h2 {
    margin-top: 2vh;
    padding: 1em;
}

.close-rules {
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #f02d7c;
    color: whitesmoke;
    cursor: pointer;
}

.helper {
    display: none;
}

/* -----------------Choose----------------- */
.screen-game {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: none;
  background-image: url("../image/background.jpg");
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.display-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background: rgba(0, 0, 0, 0.26);
  box-shadow: 0 8px 32px 0 rgba(236, 181, 247, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  /* display: none; */
}

.display-text p {
  padding: 1em;
}

.validationButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  display: none;
  padding: 1em;
}

.yes,
.no {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1vh;
  cursor: pointer;
}

.marble {
  height: 5vh;
  width: auto;
  cursor: pointer;

}

.player-marbles {
  display: grid;
  grid-template-columns: 5vh 5vh 5vh 5vh 5vh;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -20%);
  display: none;
}

.player-choice {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.choice {
  border: 1px solid rgb(255, 255, 255);
  width: 45vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 8px 32px 0 rgba(236, 181, 247, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  cursor: pointer;

}

/* -----------------Hands----------------- */

.hands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.iaHand,
.playerHand {
  height: 35vh;
}

.iaHand-open,
.iaHand-close,
.playerHand-open,
.playerHand-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.playerHand-open,
.iaHand-open {
  display: none;
}

.playerHand-close,
.iaHand-close {
  display: none;
}

.iaHand-close,
.iaHand-open {
  transform: rotateX(180deg);
}

.hands img {
  height: 100%;
  width: auto;
}

.marblesInAIHand,
.marblesInPlayerHand {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 2.6vh 2.6vh 2.6vh 2.6vh;
    transform: translate(-13%, 29%);
}

.marblesInAIHand img,
.marblesInPlayerHand img {
  height: 2.6vh;
  width: auto;
}

.audio {
  overflow: hidden;
  width: 3em;
  height: 3, 2em;
  position: fixed;
  right: 0px;
  top: 12px;
  cursor: pointer;
}

.muteBtn {
  width: 2em;
  height: 2em;
}


@media only screen and (min-width: 802px) {
    .display-text{
        max-width: 650px;
        font-size: 1.5em;
    }

    .validationButton{
        width: 80%;
    }

    .choice{
        max-width: 650px;
    }

    .logoBlock {
        margin: 0 auto;
        max-width: 805px;
    }    
}


@media only screen and (min-width: 500px) {
    .helper{
      display: block;
      position: absolute;
      height: 50%;
      bottom: -5%;
      left: 93%;
    }

    .rules-notification { 
        max-width: 398px;
    }

    .rules-notification__description{
      overflow-y: hidden;
    }
}